@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:host{
	display: block;
	position: relative;
	contain: content;
	background-color: #505358 !important;
	border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}

pre {
	font-family: 'JetBrains Mono', monospace !important;
	font-size: .85rem  ;
	display: block;
	padding: 1rem;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 2rem;
	white-space: pre-wrap;
	border: 3px solid #36393e;
}

a {
	color: #9C9FA4;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #CFD2D7;
}